.table{
    background-color: white;
    color: black !important;
    /* font-weight: bold !important */
}

th{
    background-color: rgb(243, 239, 239) !important;
    border-bottom: 1px solid #009270 !important;
}



/* .bolded { font-weight: bold; } */

