.card-style{
    display:flex;

    flex-direction: column;
    flex-wrap: nowrap;
}

.card-style p{
    /* background-color: lightgrey; */
    padding: 5px;
}

.row-header{
    border: 1px solid #009270 !important;
}