.scroll{
 
        white-space: nowrap;
      
}

.nav{
    flex-wrap: nowrap !important;
    overflow-x: hidden;
    overflow: scroll;
    scrollbar-width: none !important;
    font-weight: bold !important;
    background-color: black;
}
 ::-webkit-scrollbar{
    display: none;
}

.nav-link{
    color: whitesmoke !important;
}

.nav-link.active {
    border-bottom: 4px solid red !important;
    /* background-color: black; */
}

.nav-tabs .nav-link.active {
 background-color: black !important;
}